<footer class="footer">
  <div class="container">
    <div class="content is-centered">
      <p>
        <strong>GA Enhanced ECommerce </strong> by <a href="https://github.com/thombuchi">Thomas Büchi Sagredo</a>.</p> The source code is licensed
        <p>
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. This is just an example of how to implement Google Analytics Enhanced Commerce.
      
      <p>
        <a class="icon" href="https://github.com/thombuchi/ga-enhanced-ecommerce">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>