<nav class="navbar" style="margin-top: 20px;">
  <p class="navbar-item is-centered">
    <a class="link is-info" href="/">Home</a>
  </p>
  <p class="navbar-item is-centered">
    <a class="link is-info" href="/category/1">Category 1</a>
  </p>
  <h1 class="navbar-item is-centered title is-4" style="margin-bottom: 0;">
    E-Commerce
  </h1>
  <p class="navbar-item is-centered">
    <a class="link is-info" href="/category/2">Category 2</a>
  </p>
  <p class="navbar-item is-right">
    <a class="link is-info icon is-medium" href="/cart"><i class="fa fa-shopping-bag"></i></a>
  </p>
</nav>