<section class="hero is-info is-large">
	<a href="/product/10" ga-type="promotion" ga-promo-id='HOME_BANNER_1' ga-promo-name="Banner 1" ga-promo-creative="banner_1_2x3" ga-promo-position="home_1">
	<div class="hero-content">
		
	    <div class="container">
	      	<h1 class="title">
	        	Banner 1
	      	</h1>
	      	<h2 class="subtitle">
	        	Banner Info
	      	</h2>
	    </div>
		
	</div>
	</a>
</section>

 <section style="margin-top: 30px;">
 	 <div class="container">
 	 	<div class="columns">
		  	<div class="column" style="text-align: center;">
		  		<a href="/category/1" ga-type="promotion" ga-promo-id='HOME_BANNER_2' ga-promo-name="Banner 2" ga-promo-creative="banner_2_2x3" ga-promo-position="home_2">
		  		<div class="notification is-success" style="padding: 80px 0;">
		  			<h2 class="title is-4">
		    			Banner 2
		    		</h2>
		    		<h3 class="subtitle">Banner Info</h3>
		    	</div>
		    	</a>
			</div>
			<div class="column is-text-centered" style="text-align: center;">
				<a href="/product/3" ga-type="promotion" ga-promo-id='HOME_BANNER_3' ga-promo-name="Banner 3" ga-promo-creative="banner_3_2x3" ga-promo-position="home_3">
			   	<div class="notification is-danger" style="padding: 80px 0;">
		  			<h2 class="title is-4">
		    			Banner 3
		    		</h2>
		    		<h3 class="subtitle">Banner Info</h3>
		    	</div>
		    	</a>
			</div>
			<div class="column is-text-centered" style="text-align: center;">
				<a href="/category/2" ga-type="promotion" ga-promo-id='HOME_BANNER_4' ga-promo-name="Banner 4" ga-promo-creative="banner_4_2x3" ga-promo-position="home_4">
			    <div class="notification is-warning" style="padding: 80px 0;">
		  			<h2 class="title is-4">
		    			Banner 4
		    		</h2>
		    		<h3 class="subtitle">Banner Info</h3>
		    	</div>
		    	</a>
			</div>
		</div>
 	 </div>
 </section>

 <section style="margin-top: 30px;">
 	 <div class="container">
 	 	<div class="columns">
 	 		{{#each products}}
	 	 		<div class="card column" style="margin: 10px;">
	 	 			<a href="/product/{{this.id}}">
				  	<figure class="card-image is-4x3">
				    	<img src="http://placehold.it/600x450" alt="">
				  	</figure>
				  	<div class="card-content">
				      	<div class="media-content">
				        	<p class="title is-4" style="text-align: center;">{{this.name}}</p>
				      	</div>
				    </div>

				    <div class="content is-text-centered">
				   		<p class="title is-5" style="text-align: center; color: red;">$ {{this.price}}</p>
				    </div>
				    <a/>
				</div>
			{{/each}}
		</div>
	</div>
</section>
<!-- GA Banner Impressions -->
<script>
ga('ec:addPromo', {
  'id': 'HOME_BANNER_1',
  'name': 'Banner 1',
  'creative': 'banner_1_2x3',
  'position': 'home_1'
});
ga('ec:addPromo', {
  'id': 'HOME_BANNER_2',
  'name': 'Banner 2',
  'creative': 'banner_2_2x3',
  'position': 'home_2'
});
ga('ec:addPromo', {
  'id': 'HOME_BANNER_3',
  'name': 'Banner 3',
  'creative': 'banner_3_2x3',
  'position': 'home_3'
});
ga('ec:addPromo', {
  'id': 'HOME_BANNER_4',
  'name': 'Banner 4',
  'creative': 'banner_4_2x3',
  'position': 'home_4'
});

$("a[ga-type='promotion']").click(function(e) {

	e.preventDefault();
	if($(e.target).attr('ga-type') == undefined)
		var element = $(e.target).closest('a');
	else 
		var element = $(e.target);
	console.log(element);
	var aux = {
		id: element.attr('ga-promo-id'),
		name: element.attr('ga-promo-name'),
		creative: element.attr('ga-promo-creative'),
		position: element.attr('ga-promo-position')
	}
	console.log(aux);
	ga('ec:addPromo', aux);
	ga('ec:setAction', 'promo_click');
	ga('send', 'event', 'Internal Promotions', 'click', element.attr('ga-promo-name'),0, {'hitCallback': function(){
		document.location = element.attr('href');
	}});
});

</script>